/* Fix for https://github.com/FezVrasta/popper.js/issues/457 */
.tooltip {
    top: 0;
}

.rotate-45 {
    transform: rotate(45deg);
}

.cursor-copy {
    cursor: copy;
}

.text-strikethrough  {
    text-decoration: line-through;
}

a.disabled,
.btn.disabled,
.btn:disabled {
    cursor: not-allowed;
    opacity: .55;
}

.sidebar-brand-icon img {
    height: 2rem;
}

.sidebar-brand-text img {
    height: 1.75rem;
}

@media (min-width: 768px) {
    .sidebar:not(.toggled) .sidebar-brand-icon {
        display: none;
    }
}

.tox-tinymce {
    border: 1px solid #d1d3e2 !important;
    border-radius: .35rem !important;
}

.date-picker {
    background-color: #fff !important;
}

.img-small {
    height: 2.5em;
}

.img-preview {
    max-height: 300px;
}

.img-preview-sm {
    max-height: 150px;
}

.custom-file-input,
.custom-file-label {
    cursor: pointer;
}

.badge-label {
    font-size: 90%;
    font-weight: inherit;
}

/*
 * SortableJS
 */
.sortable .sortable {
    padding-left: 2.8em;
}

.sortable {
    margin: 0;
    padding-top: 0.6em;
}

.sortable-item {
    display: block;
    position: relative;
    margin: 0 0 0.9em;
    padding: 0;
    min-height: 20px;
}

.sortable-dropdown {
    margin-bottom: 0.3rem;
}

.sortable-dropdown .sortable-item {
    margin-bottom: 0.6em;
}

.sortable-handle {
    padding: 0.5em;
    box-sizing: border-box;
}

.sortable-handle {
    cursor: move;
}

.sortable-handle:hover {
    color: #2ea8e5;
}

.sortable-ghost .card {
    background: #f2fbff;
    border: 1px dashed #b6bcbf;
}
