a.disabled,
.btn.disabled,
.btn:disabled {
    cursor: not-allowed;
    opacity: .55;
}

/* Fix for https://github.com/FezVrasta/popper.js/issues/457 */
.tooltip {
    top: 0;
}

.tox-tinymce {
    border: 1px solid #d1d3e2 !important;
    border-radius: .35rem !important;
}

.date-picker {
    background-color: #fff !important;
}

.img-small {
    height: 2.5em;
}

.img-preview {
    max-height: 300px;
}

.img-preview-sm {
    max-height: 150px;
}

.custom-file-input,
.custom-file-label {
    cursor: pointer;
}

.badge-label {
    font-size: 90%;
    font-weight: inherit;
}

.rotate-45 {
    transform: rotate(45deg);
}

.text-strikethrough  {
    text-decoration: line-through;
}
