body {
    --background-primary: #121212;
    --background-secondary: #1e1e1e;
    --background-secondary-darker: #232323;
    --background-elements: #545353;
    --background-elements-darker: #2c2c2c;
}

body,
.content {
    color: rgba(255, 255, 255, 0.8);
    background-color: var(--background-primary);
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    color: rgba(255, 255, 255, 0.8);
}

.img-thumbnail {
    background-color: var(--background-secondary);
    border: none;
}

.figure-caption {
    color: #858796;
}

code {
    color: #e83e8c;
}

.table {
    --bs-table-bg: var(--background-secondary)!important;
    --bs-table-striped-bg: var(--background-secondary-darker)!important;
    --bs-table-striped-color: #fff!important;
    --bs-table-active-bg: var(--background-elements)!important;
    --bs-table-active-color: #fff!important;
    --bs-table-hover-bg: var(--background-elements-darker)!important;
    --bs-table-hover-color: #fff!important;
    color: #fff!important;
    border-color: #373b3e!important;
}

.form-control,
.form-select {
    color: rgba(255, 255, 255, 0.8);
    background-color: var(--background-elements);
    border: 1px solid var(--background-elements);
}

.form-select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ccc' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}

.form-check-input {
    color: rgba(255, 255, 255, 0.8);
    background-color: #545353;
}

.form-control:focus {
    color: rgba(255, 255, 255, 0.95);
    background-color: #363636;
}

.form-control:focus,
.form-select:focus {
    border-color: #747d99;
    box-shadow: none;
}

.form-control::placeholder,
.form-control-plaintext,
.form-check-input:disabled ~ .form-check-label {
    color: #858796;
}

.form-control:disabled, .form-control[readonly],
.form-select:disabled {
    background-color: #383838;
}

select.form-control:focus::-ms-value {
    color: #6e707e;
    background-color: #fff;
}

.input-group-text,
.form-control::-webkit-file-upload-button,
.form-control::file-selector-button {
    color: rgba(255, 255, 255, 0.8);
    background-color: var(--background-elements-darker);
    border: none;
}

.form-checkbox .form-check-input:indeterminate ~ .form-check-label::before {
    border-color: #4e73df;
    background-color: #4e73df;
}

.form-checkbox .form-check-input:disabled:checked ~ .form-check-label::before,
.form-checkbox .form-check-input:disabled:indeterminate ~ .form-check-label::before,
.custom-radio .form-check-input:disabled:checked ~ .form-check-label::before,
.form-switch .form-check-input:disabled:checked ~ .form-check-label::before {
    background-color: rgba(78, 115, 223, 0.5);
}

.form-switch .form-check-label::after {
    background-color: #fff;
}

.form-switch .form-check-input:checked ~ .form-check-label::after {
    background-color: #fff;
}

.form-range:focus::-webkit-slider-thumb,
.form-range:focus::-moz-range-thumb,
.form-range:focus::-ms-thumb {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(78, 115, 223, 0.25);
}

.form-range::-webkit-slider-thumb,
.form-range::-moz-range-thumb,
.form-range::-ms-thumb {
    background-color: #4e73df;
}

.form-range::-webkit-slider-thumb:active,
.form-range::-ms-thumb:active,
.form-range::-moz-range-thumb:active {
    background-color: #e5ebfa;
}

.form-range::-webkit-slider-runnable-track,
.form-range::-moz-range-track,
.form-range::-ms-fill-lower,
.form-range::-ms-fill-upper {
    background-color: #dddfeb;
}

.form-range:disabled::-webkit-slider-thumb,
.form-range:disabled::-moz-range-thumb,
.form-range:disabled::-ms-thumb {
    background-color: #b7b9cc;
}

.dropdown-menu {
    color: rgba(255, 255, 255, 0.8);
    background-color: var(--background-elements);
    border: 1px solid var(--background-elements)
}

.dropdown-divider {
    border-top: 1px solid #878787;
}

.dropdown-item {
    color: rgba(255, 255, 255, 0.8);
}

.dropdown-item:hover, .dropdown-item:focus {
    color: #fff;
    background-color: var(--background-secondary-darker);
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    background-color: var(--background-secondary-darker);
}

.dropdown-item.disabled, .dropdown-item:disabled {
    color: #858796;
}

.dropdown-header {
    color: #858796;
}

.dropdown-item-text {
    color: #3a3b45;
}

.nav-link.disabled {
    color: #858796;
}

.nav-tabs {
    border-bottom: 1px solid #dddfeb;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: #eaecf4 #eaecf4 #dddfeb;
}

.nav-tabs .nav-link.disabled {
    color: #858796;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #9394a8;
    background-color: #fff;
    border-color: #dddfeb #dddfeb #fff;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #4e73df;
}

.card {
    background-color: #1e1e1e;
    border-color: #1e1e1e;
}

.card-header {
    background-color: rgba(100, 100, 100, 0.25);
    border-bottom-color: #505050;
}

.card-footer {
    background-color: rgba(100, 100, 100, 0.25);
    border-top: 1px solid #505050;
}

.breadcrumb {
    background-color: #ced0d7;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: #858796;
}

.breadcrumb-item.active {
    color: #858796;
}

.page-link {
    color: #4e73df;
    background-color: var(--background-elements);
    border: 1px solid #62646f;
}

.page-link:hover {
    color: #224abe;
    background-color: var(--background-elements);
    border-color: #62646f;
}

.page-link:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.25);
}

.page-item.active .page-link {
    color: #fff;
    background-color: #4e73df;
    border-color: #4e73df;
}

.page-item.disabled .page-link {
    color: #858796;
    background-color: var(--background-elements);
    border-color: #62646f;
}

.progress {
    background-color: var(--background-elements);
}

.progress-bar {
    color: #fff;
    background-color: #4e73df;
}

.list-group-item,
.list-group-item:hover {
    color: #fff!important;
    background-color: #1e1e1e!important;
    border-color: #1e1e1e!important;
}

.list-group-item.active {
    background-color: #4e73df;
    border-color: #4e73df;
}

.close {
    color: #000;
    text-shadow: 0 1px 0 #fff;
}

.close:hover {
    color: #000;
}

.toast {
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
}

.toast-header {
    color: #858796;
    background-color: rgba(255, 255, 255, 0.85);
}

.modal-content {
    background-color: var(--background-elements);
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.modal-backdrop {
    background-color: #000;
}

.text-gray-900 {
    color: #3a3b45 !important;
}

.text-dark {
    color: #fff!important;
}

.dropdown .dropdown-menu .dropdown-header,
.navbar-nav .nav-item .small {
    color: #b7b9cc!important;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-header,
.sidebar .nav-item .collapsing .collapse-inner .collapse-header {
    color: #b7b9cc;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item {
    color: #858796;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:hover,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover {
    background-color: var(--background-elements);
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:active,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item:active {
    background-color: var(--background-elements-darker);
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item.active,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item.active {
    color: #4e73df;
}

.card .card-header[data-toggle="collapse"]::after {
    color: #d1d3e2;
}

.card .card {
    background: #232323;
    border: solid 1px rgba(255, 255, 255, 0.4);
}

#wrapper #content-wrapper {
    background: var(--background-primary);
}

#sidebar {
    background: #272727;
}

.navbar-nav .collapse-inner {
    color: rgba(255, 255, 255, 0.8);
    background-color: var(--background-elements) !important;
}

.navbar {
    background: #252525 !important;
}

footer.footer {
    background: #252525;
}

h1.text-gray-800 {
    color: rgba(255, 255, 255, 0.8) !important;
}

.card .h5.text-gray-800 {
    color: rgba(255, 255, 255, 0.8) !important;
}

.date-picker {
    background: var(--background-elements) !important;
}

.CodeMirror {
    color: rgba(255, 255, 255, 0.8)!important;
    background-color: var(--background-elements-darker)!important;
}

.CodeMirror, .editor-toolbar {
    border: 1px solid var(--background-elements)!important;
}

.editor-toolbar i {
    color: #326abc;
}
