img {
    max-width: 100%;
    height: auto;
}

.cursor-copy {
    cursor: copy;
}

.bi::before {
    font-size: 1.1em;
}

a.disabled,
.btn.disabled,
.btn:disabled {
    cursor: not-allowed;
    opacity: var(--bs-btn-disabled-opacity);
}

.tox-tinymce {
    border: var(--bs-border-width) solid var(--bs-border-color) !important;
    border-radius: var(--bs-border-radius) !important;
}

.img-small {
    height: 2.5em;
}

.img-preview {
    max-height: 300px;
}

.img-preview-sm {
    max-height: 150px;
}

.btn .spinner-border {
    vertical-align: middle;
}

.btn:not(:disabled) .btn-spinner {
    display: none;
}

.bi.small::before {
    font-size: 0.85em;
}

.main {
    background: var(--bs-body-bg);
}

.dropdown .list-group .list-group-item:hover {
    background: rgba(25, 25, 25, 0.1);
}

/*
 * EasyMDE
 */
.EasyMDEContainer {
    .editor-toolbar .table {
        width: unset;
    }

    .CodeMirror.cm-s-easymde,
    .CodeMirror-fullscreen,
    .editor-preview,
    .editor-toolbar.fullscreen {
        color: inherit;
        background: var(--bs-body-bg);
    }

    .editor-toolbar button.active,
    .editor-toolbar button:hover {
        background: var(--bs-body-bg);
        border-color: #86b7fe;
    }

    .CodeMirror-cursor {
        border-color: var(--bs-body-color);
    }
}

/*
 * Sidebar
 */
.sidebar-dropdown .sidebar-link {
    color: #adb5bd;
    font-size: 90%;
    font-weight: 400;
    padding: .625rem 1.5rem .625rem 3.25rem
}

.sidebar-dropdown .sidebar-link::before {
    content: "→";
    display: inline-block;
    left: -14px;
    position: relative;
}

.sidebar [aria-expanded="true"]::after, .sidebar [data-bs-toggle="collapse"]:not(.collapsed)::after {
    top: 1.4rem;
    transform: rotate(-135deg);
}

.sidebar [data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: " ";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.2rem;
    transform: rotate(45deg);
    transition: all .2s ease-out;
}
